
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RVSA</title>

    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a class="navbar navbar-brand" href="{% url 'homepage'%}">
            <img src="images/logo-autobid.svg" height="60px" width="100px" />
        </i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="navbar-nav nav-item">
             <a class="nav-link" href="{% url 'vehicles' %}">Vehicles</a>
                <a class="nav-link" href="">How It Works</a>
        
            
                        <a class="nav-link" href="/admin">Admin</a>
               
                
                <a class="nav-link" href="{% url 'profile' %}">Hello, </a>
                <a class="nav-link " href="/logout ">Logout</a> 
                <div class="navbar-nav ">
                    <a class="nav-link ml-auto " href="/login">Login</a>
                    <a class="nav-link ml-auto " href="/register ">Register</a>

                </div>
             
            </li>
            
            
        </div>
    </nav>
    <div>

       

        <body class="bg-light">            
           
        
           
            
              <!-- Full Page Image Header with Vertically Centered Content -->
            
            <div class="masthead" style="background-image: url('images/car3.jpg');">
                <div class="container h-100">
                  <div class="row h-100 align-items-right pt-4">
                    <div class="col-12 text-right">
                      <h1 class="fw-bold fs-1 text-white">2019</h1>
                      <h1 class="fw-bold fs-1 text-white">MERCEDES-Benz</h1>
                      <h1 class="fw-bold fs-1 text-white">G-CLASS G400D</h1>          
                      
                    </div>
                  </div>
                </div>
            
            </div>
            
            <div class="lower-cont">
              <div class="row">
              <div class="col-md-2 select-container">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Car Maker</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            
              <div class="col-md-2 select-container">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Car Model</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> 
            <div class="col-md-2 select-container">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Car Model</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> 
            <div class="col-md-2 select-container">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Car Model</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> 
            <div class="col-md-4 select-container">
              <button type="button" class="btn btn-lg btn-danger">Search</button>
            </div> 
            </div> 
            
            
            </div>
            
            <div class="lower-cont1">
              <div class="h-auction row m-3">
                <h3>AUCTIONS</h3>
              </div>
              
              <div class="row">
               
               
                <div class="col-md-3">
                  <div class="card">
            
                    <div class="box">
                      <img class="image" src="images/car4.jpg" />
                    </div>
                    
                    <div class="card-body">
                      <h6>Toyota Land Cruiser 300 ZX</h6>
                      <p class="card-text">
                        Lizards are a widespread group of squamate reptiles.
                      </p>
                    </div>
                  </div>
                </div>
            
             
                <div class="col-md-3">
                  <div class="card">
            
                    <div class="box">
                      <img class="image" src="images/car4.jpg" />
                    </div>
                    
                    <div class="card-body">
                      <h6>Toyota Land Cruiser 300 ZX</h6>
                      <p class="card-text">
                        Lizards are a widespread group of squamate reptiles.
                      </p>
                    </div>
                  </div>
                </div>
            
                
                <div class="col-md-3">
                  <div class="card">
            
                    <div class="box">
                      <img class="image" src="images/car4.jpg" />
                    </div>
                    
                    <div class="card-body">
                      <h6>Toyota Land Cruiser 300 ZX</h6>
                      <p class="card-text">
                        Lizards are a widespread group of squamate reptiles.
                      </p>
                    </div>
                  </div>
                </div>
            
            
                <div class="col-md-3">
                  <div class="card">
            
                    <div class="box">
                      <img class="image" src="images/car4.jpg" />
                    </div>
                    
                    <div class="card-body">
                      <h6>Toyota Land Cruiser 300 ZX</h6>
                      <p class="card-text">
                        Lizards are a widespread group of squamate reptiles.
                      </p>
                    </div>
                  </div>
                </div>
            
              </div>
            
              <div class="row mt-5">
                <div class="lower-head">
                  <h6 class="text-danger">Start Now</h6>
                  <h2>How it Works </h2>
                </div>   
              </div>
              <div class="row lower-content">
                <div class="row">
                  <div class="col-lg-3">
                  
                  </div>
                  <div class="col-lg-2">
                    <img class="image" src="images/dotted-arrow1.png" />
                  </div>
                  
                  <div class="col-lg-7">
                    
                  </div>
                </div>
               
               <div class="row">
                <div class="col-lg-4">
                  <img class="image" height="90px" width="90px"  src="images/autobid-main_how1.svg" />
            
                  <div class="card">
                    <div class="card-header">
                      <h4>Registration and Account</h4>
                    </div>
                    
                    <p><label>Step 1.</label> You will be required to create an account using your Name, ID, valid email address and Telephone Number.</p>
                    <p><label>Step 2.</label> Your profile contains information on the vehicles you have bid, bid amounts and your successful bids.</p>
                  </div>
                </div>
                <div class="col-lg-4 ">
                  <img class="image" height="90px" width="90px"  src="images/autobid-main_how3.svg" />
                  <h4>Browse and Select a Vehicle</h4>
                  <p><label>Step 3.</label> Once you have registered and logged in you can view the vehicle you would like to buy and place your OFFER AMOUNT.You will key in your OFFER AMOUNT. You can bid for as many vehicles as you like but only one bid is accepted per vehicle. The bidding window closes after 14days.</p>
                 </div>
                <div class="col-lg-4 ">
                  <img class="image" height="90px" width="90px"  src="images/autobid-main_how3.svg" />
                  <h4>Registration and Account</h4>
                  <p><label>Step 4.</label> Vehicles are sold on ‘As is, Where is’ basis. Offer letter shall be issued to successful bidder(s) who will be required to pay the full amount within 24 hours. Final allocation will be on a first come first served basis</p>
                  <p><label>Step 5.</label> The Bank will confirm receipt of your payment and immediately issue you a letter authorizing release of the vehicle from the yard. You will thereafter collect the Logbook and necessary documentation to facilitate transfer of the motor vehicle.</p>
                </div>
               </div>
            
                <div class="row">
                  <div class="col-lg-7">
                  
                  </div>
                  <div class="col-lg-2">
                    <img class="image" src="images/dotted-arrow.png" />
                  </div>
                  
                  <div class="col-lg-3">
                    
                  </div>
                </div>
                
            
              </div>
            
            </div>
            
            
            
            </html>
            
            <div class=" ">
                <nav class="navbar navbar-dark bg-info text-center text-light mt-3 p-3 ">
                    <p class="text-center ">&copy; 2024 . ALL RIGHTS RESERVERD
                        <p>RVSA</p>
                    </p>
                </nav>
            </div>

    </div>
    
<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>